.contenedor-logo {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
}

.logo-mr-robot{
    width: 400px;
    height: auto;
}