* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  background-color: #f5f6f7;
}

h1 {
  font-family: Lato, sans-serif;
  margin-top: 25px;
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
  color: #2b2b2b;
  width: 900px;
  letter-spacing: 1px;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-testimonios {
    width: 74%;
    display: flex;
    flex-direction: column;
}